/* booking.css */

/* Стили для страницы бронирования номера */
.booking-page {
    background-color: #f0f8ff; /* Цвет фона для страницы бронирования */
    padding: 20px;
}

.booking-title {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.booking-description {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}

.booking-price {
    font-size: 20px;
    font-weight: bold;
    color: #d9534f; /* Цвет для цены */
    text-align: center;
    margin-bottom: 30px;
}

.booking-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.booking-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.booking-form input[type="date"] {
    width: calc(50% - 10px); /* Устанавливаем ширину на половину */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-form button.booking-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5cb85c; /* Зеленая кнопка */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking-form button.booking-button:hover {
    background-color: #4cae4c; /* Цвет при наведении */
}

/* booking.css */

/* Стили для страницы подтверждения бронирования */
.confirmation-page {
    background-color: #f7f7f7; /* Светлый фон для страницы подтверждения */
    padding: 20px;
    text-align: center;
}

.confirmation-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.confirmation-info {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.confirmation-total {
    font-size: 22px;
    font-weight: bold;
    color: #d9534f; /* Цвет для суммы */
    margin-bottom: 30px;
}

.confirmation-form {
    display: inline-block;
    margin-top: 20px;
}

.confirmation-button {
    padding: 10px 20px;
    background-color: #5cb85c; /* Зеленая кнопка для подтверждения */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirmation-button:hover {
    background-color: #4cae4c; /* Цвет при наведении */
}